/////////////////
// CARDS
.card {
    box-shadow:  0 0.1rem 9rem rgba($color-grey-dark-2, 0.1);
    padding: .8rem;
    border-radius: 4px;
    // width: 100%;
    width: 60vw;

    @include respond(tab-land) {
        width: 70vw;
    }
    @include respond(tab-port) {
        width: 80vw;
    }
    @include respond(phone) {
        width: 90vw;
        box-shadow: none;
    }

    &__header--onshow {
        text-align: center;
        margin: 4rem;
    }

    &__body {
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid $color-grey-light-4;
        border-radius: 16px;
        box-shadow: $shadow-light;
        margin: 2rem;
        padding: 2rem;
        overflow: hidden;
        min-height: 270px;

        & .card__header {
            @include respond(phone) {
                @include centerH;
                top: 0;
                width: 80%;
            }
        }

        @include respond(phone) {
            display: block;
            margin: 2rem 0;
        }
    }

    &__images {
        width: 36vw;
        display: inherit;
        position: relative;
        margin: 0 auto;
        transform: scale(1);

        @include respond(tab-port) {
            width: 46vw;
        }

        @include respond(phone) {
            width: 75vw;
            margin: 40px auto 0 auto;
        }

        &--view {
            width: 70%;
            // transform: scale(1.138);
            margin-right: 3rem;
            padding-left: 6px;

            @include respond(phone) {
                margin: auto;
                padding: 0;
            }
        }

        & p {
            width: 100%;
            text-align: center;
        }

        &--edit {
            // width: 25vw;
            margin-bottom: 3rem;

            @include respond(phone) {
                width: 100%;
            }
        }

        img {
            width: 100%;
            // max-height: 200px;
            border-radius: 3px;
            box-shadow: $shadow-light;

            @include respond(phone) {
                max-height: 100%;
            }
        }

        .card-img--input {
            visibility: hidden;
            position: absolute;
            left: 0;
        }

        .card-img--delete {
            @include centerH;
        }
    }

    &__details {
        width: 100%;
        margin: 0 3rem;

        @include respond(phone) {
            width: auto;
            text-align: center;
        }
        
        & > * {
            padding: .8rem;
        }
    }

    &__location {
        color: $color-grey-dark-4;
        position: absolute;
        bottom: 18px;
        padding-bottom: 0;
        
        @include respond(tab-port) {
            left: 20px;
        }

        @include respond(phone) {
            position: initial;
            bottom: initial;
        }
    }

    &__created {
        color: $color-grey-dark-4;
        // position: absolute;
        // bottom: 10px;
        // right: 140px;
    }

    &__rating-number {
        position: absolute;
        bottom: -30px;
        right: -11px;
        font-size: 14rem;
        line-height: initial;
        opacity: .1;
        padding: 0;
        color: $color-grey-dark-4;
    }

    &__actions {
        display: flex;
        position: absolute;
        bottom: 12px;
        right: 10px;
        padding: 0;
        
        @include respond(phone) {
            position: initial;
            bottom: initial;
            right: initial;
            justify-content: center;
        }
    }

    &--delete {
        position: absolute;
        top: 0;
        right: 0;

        @include respond(phone) {
            display: none;
        }

        &--phone {
            display: none;

            @include respond(phone) {
                display: initial;
            }
        }
    }

    &__map {
        height: 300px; 
        padding: 2rem; 
        margin: 2rem;
        box-shadow: $shadow-dark;
        border-radius: 16px;

        @include respond(phone) {
            margin: 15px 0 0 0;
            width: 100%;
        }

        & .mapboxgl-canvas {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            border-collapse: separate;
        }
        
    }
}