.form-container {
    width: 45vw;
    
    @include respond(tab-land) { 
        width: 45vw;
    }
    @include respond(tab-port) { 
        width: 65vw;
    }
    @include respond(phone) { 
        width: 80vw;
    }
}

.form {
    
    &-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; // also helps gramarly to be positioned correctly
        margin-bottom: 2.2rem;
        
        & > div {
            width: 100%;
            margin: 3px;
            
            @include respond(tab-port) { 
                margin: 0;    
            }

            &.form-file--input,
            &.rating-group,
            &.form-rating {
                // max-width: fit-content;
                width: inherit;
            }
        }

        &:nth-child(-n+2) {
            @include respond(tab-port) { 
                margin-bottom: 0;
            }
        }
        @include respond(tab-port) { 
            display: block;
        }
    }

    &__input {
        width: 100%;
        font-family: inherit;
        font-size: 1.4rem;
        color: $color-grey-dark-2;
        margin: .6rem 0;
        padding: 1rem;
        border: 1px solid $color-primary;
        border-radius: 3px;
        box-shadow: $shadow-light, 0 0 0 3px rgba(47, 151, 193, .2);
        transition: all .2s;

        &:focus {
            outline: none;
            box-shadow: $shadow-light;
            border: 1.6px solid $color-primary;

            // &:invalid {
            //     border: 1px solid $color-delete;
            //     box-shadow: 0 0 0 3px rgba(201, 44, 64, .1);
            // }
        }

    ///////////////////
    // basic validation
       
        // & + span {
        //     position: relative;
        // }

        // & + span::before {
        //     content: "\f058";
        //     font-family: "Font Awesome 5 Free"; 
        //     font-weight: 400;
        //     font-size: 2rem;
        //     color: $color-save;
        //     position: absolute;
        //     right: 15px;
        //     top: -7px;
        //     opacity: 0;
        //     transform: translateX(25px);
        //     transition: all .3s ease;
        // }

        // &:valid + span::before {
        //     opacity: 1;
        //     transform: translateX(0);
        //     transition: all .3s ease;
        // }

        // &:valid {
        //     transition: all .3s ease;
        // }
        
        &#duration + span::after {
            content: 'minutes';
            position: absolute;
            bottom: 10px;
            right: 3px;
            border-left: 1px solid $color-primary;
            padding: 4.5px;
            color: $color-grey-dark-2;
            opacity: 1;
            transition: opacity .3s ease;

            @include respond(tab-land) { 
                bottom: 8px;
            }
        }

        &#duration:valid + span::after {
            opacity: 0;
            transition: opacity .3s ease;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-3;
        }
    }

    &-control {
        position: relative;

        // & .form__input:valid {
        //     border-color: $color-save;
        // }
        
        // & .form__input:valid + i.fa-check-circle {
        //     visibility: visible;
        //     transform: translateX(0);
        // }

        & i.fa-check-circle {
            color: $color-save;
        }

        & i.fa-exclamation-circle {
            color: $color-warning;
        }

        &.success .form__input {
            border-color: $color-save;
        }

        &.error .form__input {
            border-color: $color-warning;
        }

        &.success i.fa-check-circle,
        &.error i.fa-exclamation-circle {
            visibility: visible;
            transform: translateX(0);
        }

        & .fa-check-circle,
        & .fa-exclamation-circle {
            font-family: "Font Awesome 5 Free"; 
            font-size: 2rem;
            position: absolute;
            right: 15px;
            top: 41px;
            visibility: hidden;
            transform: translateX(25px);
            transition: all .3s ease;
        }

        .error-msg {
            visibility: hidden;
            display: none;
            color: $color-warning;
        }
        &.error .error-msg {
            visibility: visible;
            display: block;
            color: $color-warning;
        }
    }
    // basic validation
    ///////////////////

    &__label {
        display: block;
        font-family: inherit;
        font-size: 1.6rem;
        color: $color-grey-dark-2;
        margin-left: 1.4rem;
        transition: all .3s;
    }

    &-description {
        display: block;

        @include respond(tab-port) {
            margin-bottom: 2rem;
        }
    }

    &-file--input {
        display: inline-block;
        
        @include respond(tab-port) { 
            display: initial;
        }
    }

    &-rating {
        width: inherit;
        display: inline-block;

        @include respond(tab-port) { 
            display: block;
            margin: 2.2rem auto 2.2rem auto;
            max-width: fit-content;
        }
    }
    
    &-submit {
        text-align: center;
        clear: both;

        // TEST FOR BUTTON REFLECTION
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // TEST FOR BUTTON REFLECTION
    }

    &-cancel {
        display: block;
        text-align: center;
        
        a {
            text-decoration: none;
            color: $color-grey-dark-4;
            &:hover {
                color: $color-grey-dark-3;
            }
        }
    }
    
}
