
<form class="dd-form" id="dd-login-form" action="/login" method="POST">

    <div class="dd-group login-group innactive">
        <input class="dd__input dd__in login__input" type="username" id="loginUsername" name="username" required />
        <label class="dd__label" for="loginUsername">Username</label>
        <span></span>
    </div>

    <div class="dd-group login-group innactive">
        <input class="dd__input dd__in login__input" type="password" id="loginPassword" name="password" required />
        <label class="dd__label" for="loginPassword">Password</label>
        <span></span>
    </div>

    <div class="dd-group login-group dd-submit innactive">
        <button class="dd__in btn btn-dd-submit">Log In</button>
    </div>
    
</form>