<form class="dd-form" id="dd-register-form" action="/register" method="POST">

    <div class="dd-group register-group innactive">
        <input class="dd__input dd__in register__input" type="username" id="username" name="username" required />
        <label class="dd__label" for="username">Username</label>
        <span></span>
    </div>

    <div class="dd-group register-group innactive">
        <input class="dd__input dd__in register__input" type="email" id="email" name="email" required />
        <label class="dd__label" for="email">Email</label>
        <span></span>
    </div>

    <div class="dd-group register-group innactive">
        <input class="dd__input dd__in register__input" type="password" id="password" name="password" required />
        <label class="dd__label" for="password">Password</label>
        <span></span>
    </div>

    <div class="dd-group register-group dd-submit innactive">
        <button class="dd__in btn btn-dd-submit">Sign Up</button>
    </div>
    
</form>